<!doctype html>
<html lang="en">
<head>
     <!--Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<svg width="{{ svg.width }}" height="{{ svg.height }}" style="{{ svg.style }}" viewBox="{{ svg.viewBox }}"
     preserveAspectRatio="xMidYMid slice">

    {% for polygon in ploygons %}
        <polygon points="{{ polygon.points }}" style="{{ polygon.style }}"></polygon>
    {% endfor %}
    {% for circle in circles %}
        <circle cx="{{ circle.point[0] }}" cy="{{ circle.point[1] }}" r="{{ circle.r }}" style="{{ circle.style }}"></circle>
    {% endfor %}
    {% for line in lines %}
        <line x1="{{ line.point1[0] }}" y1="{{ line.point1[1] }}" x2="{{ line.point2[0] }}" y2="{{ line.point2[1] }}"
              style="{{ line.style }}"></line>
    {% endfor %}

    <g style="font-size: 5pt">
        {% for text in texts %}
            <text x="{{ text.point[0] }}" y="{{ text.point[1] }}" style="{{ text.style }}">{{ text.content }}</text>
        {% endfor %}
    </g>
</svg>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>